USE [QuanLyBanHang]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Admin_ID] [varchar](20) NOT NULL,
	[Admin_Name] [nvarchar](255) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Email] [varchar](255) NULL,
	[Contact] [varchar](15) NOT NULL,
	[Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill_Exported]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill_Exported](
	[Invoice_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Total_Product] [int] NOT NULL,
	[Total_Price] [decimal](15, 2) NOT NULL,
 CONSTRAINT [PK_Bill_Exported] PRIMARY KEY CLUSTERED 
(
	[Invoice_No] ASC,
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill_Exported_Details]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill_Exported_Details](
	[Invoice_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Order_No] [varchar](20) NOT NULL,
	[Customer_ID] [varchar](20) NOT NULL,
	[Product_ID] [varchar](20) NOT NULL,
	[IMei_No] [varchar](50) NOT NULL,
	[Unit_Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NULL,
	[Discount_Values] [decimal](10, 2) NULL,
	[Total_Price_Before] [decimal](15, 2) NOT NULL,
	[Total_Price_After] [decimal](15, 2) NOT NULL,
	[Date_Exported] [date] NOT NULL,
	[Time_Exported] [time](7) NOT NULL,
 CONSTRAINT [PK_Bill_Exported_Details] PRIMARY KEY CLUSTERED 
(
	[Invoice_No] ASC,
	[Admin_ID] ASC,
	[Order_No] ASC,
	[Customer_ID] ASC,
	[Product_ID] ASC,
	[IMei_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill_Imported]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill_Imported](
	[Invoice_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Total_Product] [int] NOT NULL,
	[Total_Price] [decimal](15, 2) NOT NULL,
 CONSTRAINT [PK_Bill_Imported] PRIMARY KEY CLUSTERED 
(
	[Invoice_No] ASC,
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill_Imported_Details]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill_Imported_Details](
	[Invoice_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Product_ID] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit_Price] [decimal](10, 2) NOT NULL,
	[Total_Price] [decimal](10, 2) NOT NULL,
	[Date_Imported] [date] NOT NULL,
	[Time_Imported] [time](7) NOT NULL,
 CONSTRAINT [PK_Bill_Imported_Details] PRIMARY KEY CLUSTERED 
(
	[Invoice_No] ASC,
	[Admin_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_ID] [varchar](50) NOT NULL,
	[Category_Name] [nvarchar](225) NOT NULL,
	[Sup_ID] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [varchar](20) NOT NULL,
	[Full_Name] [nvarchar](255) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Date_Of_Birth] [date] NOT NULL,
	[Email] [varchar](255) NULL,
	[Contact] [varchar](15) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMei_Product]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMei_Product](
	[IMei_No] [varchar](50) NOT NULL,
	[Product_ID] [varchar](50) NOT NULL,
	[State] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IMei_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurance]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance](
	[Insurance_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Customer_ID] [varchar](20) NOT NULL,
	[Start_Date_Insurance] [date] NULL,
	[End_Date_Insurance] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Insurance_No] ASC,
	[Admin_ID] ASC,
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurance_Details]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance_Details](
	[Insurance_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Customer_ID] [varchar](20) NOT NULL,
	[Product_ID] [varchar](50) NOT NULL,
	[IMei_No] [varchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Date_Insurance] [date] NOT NULL,
	[Time_Insurance] [time](7) NOT NULL,
 CONSTRAINT [PK_InsuranceDetails] PRIMARY KEY CLUSTERED 
(
	[Insurance_No] ASC,
	[Admin_ID] ASC,
	[Customer_ID] ASC,
	[IMei_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_No] [varchar](20) NOT NULL,
	[Customer_ID] [varchar](20) NOT NULL,
	[Total_Quantity_Product] [int] NOT NULL,
	[Total_Price] [decimal](15, 2) NOT NULL,
	[Payment] [varchar](20) NOT NULL,
	[Date_Order] [date] NULL,
	[Time_Order] [time](7) NULL,
 CONSTRAINT [PK__Orders__792E2DA7B22E4759] PRIMARY KEY CLUSTERED 
(
	[Order_No] ASC,
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_Details]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_Details](
	[Order_No] [varchar](20) NOT NULL,
	[Customer_ID] [varchar](20) NOT NULL,
	[Product_ID] [varchar](20) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date_Order] [date] NOT NULL,
	[Time_Order] [time](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Orders_Details] PRIMARY KEY CLUSTERED 
(
	[Order_No] ASC,
	[Customer_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [varchar](50) NOT NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[CPU] [varchar](100) NOT NULL,
	[Size_Screen] [varchar](20) NOT NULL,
	[Ram] [varchar](100) NOT NULL,
	[Graphics_Card] [varchar](100) NOT NULL,
	[Battery] [varchar](100) NOT NULL,
	[Operating_System] [varchar](20) NOT NULL,
	[Weight] [varchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Spoiled_Quantity] [int] NOT NULL,
	[Category_ID] [varchar](50) NULL,
	[Image] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Product__9834FB9AFB3C9D93] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Stock]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Stock](
	[Product_ID] [varchar](20) NOT NULL,
	[Quantity_Stock] [int] NOT NULL,
 CONSTRAINT [PK__Product___9834FB9AC357FE73] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 07/04/2025 4:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Sup_ID] [varchar](100) NOT NULL,
	[Sup_Name] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Contact] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sup_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill_Exported] ADD  CONSTRAINT [DF__Bill_Expo__Total__3FD07829]  DEFAULT ((0)) FOR [Total_Product]
GO
ALTER TABLE [dbo].[Bill_Imported] ADD  DEFAULT ((0)) FOR [Total_Product]
GO
ALTER TABLE [dbo].[Bill_Imported] ADD  DEFAULT ((0.00)) FOR [Total_Price]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_Status]  DEFAULT ('Inactive') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Total_Qu__66EA454A]  DEFAULT ((0)) FOR [Total_Quantity_Product]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Total_Pr__67DE6983]  DEFAULT ((0.00)) FOR [Total_Price]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Payment__00AA174D]  DEFAULT ('Cash') FOR [Payment]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__Size_Sc__7908F585]  DEFAULT ('N/A') FOR [Size_Screen]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__Operati__79FD19BE]  DEFAULT ('N/A') FOR [Operating_System]
GO
ALTER TABLE [dbo].[Bill_Exported_Details]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Exported] FOREIGN KEY([Invoice_No], [Admin_ID])
REFERENCES [dbo].[Bill_Exported] ([Invoice_No], [Admin_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill_Exported_Details] CHECK CONSTRAINT [FK_Bill_Exported]
GO
ALTER TABLE [dbo].[Bill_Imported_Details]  WITH CHECK ADD  CONSTRAINT [FK_BillImported] FOREIGN KEY([Invoice_No], [Admin_ID])
REFERENCES [dbo].[Bill_Imported] ([Invoice_No], [Admin_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill_Imported_Details] CHECK CONSTRAINT [FK_BillImported]
GO
ALTER TABLE [dbo].[Bill_Imported_Details]  WITH CHECK ADD  CONSTRAINT [FK_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill_Imported_Details] CHECK CONSTRAINT [FK_Product]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Supplier] FOREIGN KEY([Sup_ID])
REFERENCES [dbo].[Supplier] ([Sup_ID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Supplier]
GO
ALTER TABLE [dbo].[IMei_Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_IMei] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IMei_Product] CHECK CONSTRAINT [FK_Product_IMei]
GO
ALTER TABLE [dbo].[Bill_Exported_Details]  WITH CHECK ADD  CONSTRAINT [CK__Bill_Expo__Quant__05A3D694] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Bill_Exported_Details] CHECK CONSTRAINT [CK__Bill_Expo__Quant__05A3D694]
GO
ALTER TABLE [dbo].[Bill_Exported_Details]  WITH CHECK ADD  CONSTRAINT [CK__Bill_Expo__Quant__41EDCAC5] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Bill_Exported_Details] CHECK CONSTRAINT [CK__Bill_Expo__Quant__41EDCAC5]
GO
ALTER TABLE [dbo].[Bill_Exported_Details]  WITH CHECK ADD  CONSTRAINT [CK__Bill_Expo__Quant__72910220] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Bill_Exported_Details] CHECK CONSTRAINT [CK__Bill_Expo__Quant__72910220]
GO
ALTER TABLE [dbo].[Orders_Details]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Orders_Details]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Orders_Details]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
